**/target
/tmp/
**.idea/
*.DS_Store
.vscode
leo.iml

**/process.yml

**/.crates.toml
**/.crates2.json
**/bin/

# sccache from pipeline
sccache*/

# Emacs gitignore files
*~
\#*\#
.\#*

# code coverage scripts
*.bat

# environment
.env