[package]
name = "leo-lang"
version = "3.4.0"
authors = [ "The Leo Team <leo@provable.com>" ]
description = "The Leo programming language"
homepage = "https://leo-lang.org"
repository = "https://github.com/ProvableHQ/leo"
keywords = [
  "aleo",
  "cryptography",
  "leo",
  "programming-language",
  "zero-knowledge"
]
categories = [ "compilers", "cryptography", "web-programming" ]
include = [
  "Cargo.toml",
  "leo",
  "README.md",
  "LICENSE.md",
  "examples/lottery/src/main.leo",
  "examples/lottery/run.sh",
  "examples/tictactoe/src/main.leo",
  "examples/tictactoe/run.sh",
  "examples/token/src/main.leo",
  "examples/token/run.sh"
]
license = "GPL-3.0"
edition = "2024"
rust-version = "1.92.0"

[workspace]
members = [
  "compiler/abi",
  "compiler/abi-types",
  "compiler/ast",
  "compiler/compiler",
  "compiler/parser-rowan",
  "compiler/parser",
  "compiler/passes",
  "compiler/span",
  "errors",
  "leo-fmt",
  "interpreter",
  "leo/package",
  "test-framework",
  "utils/disassembler"
]

[lib]
path = "leo/lib.rs"

[[bin]]
name = "leo"
path = "leo/cli/main.rs"

[[test]]
name = "integration"
path = "leo/tests/integration.rs"

[features]
default = [ ]
ci_skip = [ "leo-compiler/ci_skip" ]
noconfig = [ ]
only_testnet = [ ]

[workspace.dependencies]
# leo dependencies
leo-abi             = { path = "./compiler/abi",              version = "=3.4.0" }
leo-abi-types       = { path = "./compiler/abi-types",        version = "=3.4.0" }
leo-ast             = { path = "./compiler/ast",              version = "=3.4.0" }
leo-compiler        = { path = "./compiler/compiler",         version = "=3.4.0" }
leo-disassembler    = { path = "./utils/disassembler",        version = "=3.4.0" }
leo-errors          = { path = "./errors",                    version = "=3.4.0" }
leo-fmt             = { path = "./leo-fmt",                   version = "=3.4.0" }
leo-interpreter     = { path = "./interpreter",               version = "=3.4.0" }
leo-package         = { path = "./leo/package",               version = "=3.4.0" }
leo-parser          = { path = "./compiler/parser",           version = "=3.4.0" }
leo-parser-rowan    = { path = "./compiler/parser-rowan",     version = "=3.4.0" }
leo-passes          = { path = "./compiler/passes",           version = "=3.4.0" }
leo-span            = { path = "./compiler/span",             version = "=3.4.0" }
leo-test-framework  = { path = "./test-framework",            version = "=3.4.0" }
# third party dependencies
aleo-std           = { version = "1.0.3"}
aleo-std-storage   = { version = "1.0.3", default-features = false }
anyhow             = "1.0"
axum               = "0.8.0"
axum-extra         = { version = "0.12", features = [ "erased-json", "typed-header" ] }
backtrace          = "0.3"
base62             = "2.2"
chrono             = "0.4"
clap               = { version = "4.5", features = [ "derive", "env", "color", "unstable-styles" ] }
color-backtrace    = "0.7"
colored            = "3.1"
crossbeam-channel  = "0.5"
crossterm          = "0.29"
ctrlc              = "3.4"
derivative         = "2.2"
dialoguer          = "0.12"
dotenvy            = "0.15"
dunce              = "1.0"
expect-test        = "1.5"
fxhash             = "0.2.1"
http               = "1"
indexmap           = { version = "2.6", features = [ "serde" ] }
is-terminal        = "0.4"
itertools          = "0.14"
logos              = "0.15"
num-format         = "0.4"
num-traits         = "0.2.19"
once_cell          = "1.21"
parking_lot        = "0.12"
paste              = "1.0"
rand               = { version = "0.8", default-features = false }
rand_chacha        = { version = "0.3", default-features = false }
ratatui            = "0.30"
rayon              = "1.11"
regex              = "1.11"
reqwest            = "0.12"
rowan              = "0.16"
rpassword          = "7.4"
scoped-tls         = "1.0"
self_update        = { version = "0.42", features = [ "archive-zip", "compression-zip-deflate" ] }
serde              = { version = "1.0", features = [ "derive", "rc" ] }
serde_json         = { version = "1.0", features = [ "preserve_order" ] }
serial_test        = "3.1"
sha2               = "0.10"
similar            = "2.6"
# We enable "test_consensus_heights" to give developers freedom to set custom consensus version upgrade heights and "test_targets" because the devnode's genesis block was created with the same feature flag.
# TODO: update `rev` to an actual snarkVM tag when available.
snarkvm            = { git = "https://github.com/ProvableHQ/snarkVM.git", tag = "testnet-v4.5.1", features = [ "test_consensus_heights", "dev_skip_checks", "test_targets" ] }
sys-info           = "0.9"
tempfile           = "3.20"
thiserror          = "2.0"
tokio              = { version = "1", features = [ "full" ] }
tower-http         = { version = "0.6.0", features = [ "cors", "trace" ] }
tower_governor     = "0.7"
tracing            = "0.1"
tracing-subscriber = { version = "0.3", features = [ "env-filter", "fmt" ] }
ureq               = { version = "3.0", features = [ "json" ] }
walkdir            = "2.5"
which              = "8.0"

[dependencies]
# leo dependencies
leo-abi           = { workspace = true }
leo-ast           = { workspace = true }
leo-compiler      = { workspace = true }
leo-disassembler  = { workspace = true }
leo-errors        = { workspace = true }
leo-fmt           = { workspace = true }
leo-interpreter   = { workspace = true }
leo-package       = { workspace = true }
leo-span          = { workspace = true }
# third party dependencies
aleo-std           = { workspace = true }
aleo-std-storage   = { workspace = true }
anyhow             = { workspace = true }
axum               = { workspace = true }
axum-extra         = { workspace = true }
backtrace          = { workspace = true }
chrono             = { workspace = true }
clap               = { workspace = true }
colored            = { workspace = true }
crossbeam-channel  = { workspace = true }
crossterm          = { workspace = true }
ctrlc              = { workspace = true }
dialoguer          = { workspace = true }
dotenvy            = { workspace = true }
dunce              = { workspace = true }
indexmap           = { workspace = true }
is-terminal        = { workspace = true }
itertools          = { workspace = true }
num-format         = { workspace = true }
once_cell          = { workspace = true }
parking_lot        = { workspace = true }
rand               = { workspace = true }
rand_chacha        = { workspace = true }
rayon              = { workspace = true }
regex              = { workspace = true }
reqwest            = { workspace = true }
rpassword          = { workspace = true }
self_update        = { workspace = true }
serde              = { workspace = true }
serde_json         = { workspace = true }
serial_test        = { workspace = true }
similar            = { workspace = true }
sha2               = { workspace = true }
snarkvm            = { workspace = true }
sys-info           = { workspace = true }
tempfile           = { workspace = true }
tokio              = { workspace = true }
tower-http         = { workspace = true }
tower_governor     = { workspace = true }
tracing            = { workspace = true }
tracing-subscriber = { workspace = true }
ureq               = { workspace = true }
walkdir            = { workspace = true }
which              = { workspace = true }

[dev-dependencies]
regex = { workspace = true }
which = { workspace = true }

[build-dependencies]
walkdir = { workspace = true }

[target."cfg(unix)".dependencies]
libc        = "0.2"
nix         = { version = "0.30", features = [ "process", "term", "fs", "poll" ] }
signal-hook = { version = "0.4", features = [ "iterator" ] }

[target."cfg(windows)".dependencies]
winapi      = "0.3"
ansi_term   = "0.12"
windows-sys = { version = "0.61", features = [ "Win32_Foundation", "Win32_System_Threading", "Win32_System_JobObjects" ] }

[profile.release]
opt-level = 3
lto = "thin"
incremental = true

[profile.bench]
opt-level = 3
debug = false
rpath = false
lto = "thin"
incremental = true
debug-assertions = false

[profile.dev]
opt-level = 2
lto = "off"
incremental = true
debug-assertions = false

[profile.test]
opt-level = 2
lto = "off"
incremental = true
debug = true
debug-assertions = true

[profile.ci]
inherits = "test"
opt-level = 1     # 0 or 1 for fastest compile-times
lto = "off"       # ensure LTO is definitely disabled
incremental = false
debug = false
debug-assertions = false
codegen-units = 32 # HIGH codegen parallelism speeds compile (default is usually 16)
