[package]
name = "leo-lang"
version = "3.3.1"
authors = [ "The Leo Team <leo@provable.com>" ]
description = "The Leo programming language"
homepage = "https://leo-lang.org"
repository = "https://github.com/ProvableHQ/leo"
keywords = [
  "aleo",
  "cryptography",
  "leo",
  "programming-language",
  "zero-knowledge"
]
categories = [ "compilers", "cryptography", "web-programming" ]
include = [
  "Cargo.toml",
  "leo",
  "README.md",
  "LICENSE.md",
  "examples/lottery/src/main.leo",
  "examples/lottery/run.sh",
  "examples/tictactoe/src/main.leo",
  "examples/tictactoe/run.sh",
  "examples/token/src/main.leo",
  "examples/token/run.sh"
]
license = "GPL-3.0"
edition = "2024"
rust-version = "1.90.0"

[workspace]
members = [
  "compiler/ast",
  "compiler/compiler",
  "compiler/parser-lossless",
  "compiler/parser",
  "compiler/passes",
  "compiler/span",
  "errors",
  "interpreter",
  "leo/package",
  "test-framework",
  "utils/disassembler"
]

[workspace.dependencies.leo-ast]
path = "./compiler/ast"
version = "=3.3.1"

[workspace.dependencies.leo-compiler]
path = "./compiler/compiler"
version = "=3.3.1"

[workspace.dependencies.leo-disassembler]
path = "./utils/disassembler"
version = "=3.3.1"

[workspace.dependencies.leo-errors]
path = "./errors"
version = "=3.3.1"

[workspace.dependencies.leo-interpreter]
path = "./interpreter"
version = "=3.3.1"

[workspace.dependencies.leo-package]
path = "./leo/package"
version = "=3.3.1"

[workspace.dependencies.leo-parser]
path = "./compiler/parser"
version = "=3.3.1"

[workspace.dependencies.leo-parser-lossless]
path = "./compiler/parser-lossless"
version = "=3.3.1"

[workspace.dependencies.leo-passes]
path = "./compiler/passes"
version = "=3.3.1"

[workspace.dependencies.leo-span]
path = "./compiler/span"
version = "=3.3.1"

[workspace.dependencies.leo-test-framework]
path = "./test-framework"
version = "=3.3.1"

[workspace.dependencies.aleo-std]
version = "1.0.1"
default-features = false

[workspace.dependencies.anyhow]
version = "1.0"

[workspace.dependencies.base62]
version = "2.2.1"

[workspace.dependencies.colored]
version = "2.0"

[workspace.dependencies.indexmap]
version = "2.6"
features = [ "serde" ]

[workspace.dependencies.itertools]
version = "0.13.0"

[workspace.dependencies.paste]
version = "1.0"

[workspace.dependencies.rand]
version = "0.8"
default-features = false

[workspace.dependencies.rand_chacha]
version = "0.3.0"
default-features = false

[workspace.dependencies.rayon]
version = "1.11.0"

[workspace.dependencies.regex]
version = "1.11.1"

[workspace.dependencies.self_update]
version = "0.41.0"
features = [ "archive-zip", "compression-zip-deflate" ]

[workspace.dependencies.serde]
version = "1.0.214"
features = [ "derive", "rc" ]

[workspace.dependencies.serde_json]
version = "1.0"
features = [ "preserve_order" ]

[workspace.dependencies.serial_test]
version = "3.1.1"

[workspace.dependencies.sha2]
version = "0.10.9"

[workspace.dependencies.snarkvm]
git = "https://github.com/ProvableHQ/snarkVM.git"
tag = "v4.4.0"
features = [ "test_consensus_heights" ]

[workspace.dependencies.tempfile]
version = "3.13"

[workspace.dependencies.tracing]
version = "0.1"

[workspace.dependencies.ureq]
version = "3.0.12"

[workspace.dependencies.walkdir]
version = "2.5"

[workspace.dependencies.which]
version = "4.4"

[lib]
path = "leo/lib.rs"

[[bin]]
name = "leo"
path = "leo/cli/main.rs"

[[test]]
name = "integration"
path = "leo/tests/integration.rs"

[features]
default = [ ]
ci_skip = [ "leo-compiler/ci_skip" ]
noconfig = [ ]
only_testnet = [ ]

[dependencies.leo-ast]
workspace = true

[dependencies.leo-compiler]
workspace = true

[dependencies.leo-disassembler]
workspace = true

[dependencies.leo-errors]
workspace = true

[dependencies.leo-interpreter]
workspace = true

[dependencies.leo-package]
workspace = true

[dependencies.leo-span]
workspace = true

[dependencies.anyhow]
workspace = true

[dependencies.aleo-std]
workspace = true

[dependencies.backtrace]
version = "0.3.74"

[dependencies.chrono]
version = "0.4.41"

[dependencies.clap]
version = "4.5"
features = [ "derive", "env", "color", "unstable-styles" ]

[dependencies.colored]
workspace = true

[dependencies.crossterm]
version = "0.29.0"

[dependencies.crossbeam-channel]
version = "0.5.15"

[dependencies.ctrlc]
version = "3.4.7"

[dependencies.dialoguer]
version = "0.11.0"

[dependencies.dotenvy]
version = "0.15.7"

[dependencies.dunce]
version = "1.0.5"

[dependencies.indexmap]
workspace = true

[dependencies.itertools]
workspace = true

[dependencies.num-format]
version = "0.4.4"

[dependencies.once_cell]
version = "1.21.3"

[dependencies.parking_lot]
version = "0.12.1"

[dependencies.rand]
workspace = true

[dependencies.rayon]
workspace = true

[dependencies.rand_chacha]
workspace = true

[dependencies.regex]
workspace = true

[dependencies.rpassword]
version = "7.4.0"

[dependencies.self_update]
workspace = true

[dependencies.serde]
workspace = true

[dependencies.serde_json]
workspace = true

[dependencies.serial_test]
workspace = true

[dependencies.sha2]
workspace = true

[dependencies.snarkvm]
workspace = true
features = [ "circuit", "console" ]

[dependencies.sys-info]
version = "0.9.1"

[dependencies.tempfile]
version = "3.20.0"

[dependencies.tracing]
workspace = true

[dependencies.tracing-subscriber]
version = "0.3.18"
features = [ "fmt" ]

[dependencies.ureq]
workspace = true
features = [ "json" ]

[dependencies.walkdir]
workspace = true

[dev-dependencies.regex]
workspace = true

[dev-dependencies.which]
workspace = true

[target."cfg(unix)".dependencies.nix]
version = "0.30.1"
features = [ "process", "term", "fs", "poll" ]

[target."cfg(unix)".dependencies.libc]
version = "0.2.174"

[target."cfg(unix)".dependencies.signal-hook]
version = "0.3.17"
features = [ "iterator" ]

[target."cfg(windows)".dependencies.winapi]
version = "0.3.9"

[target."cfg(windows)".dependencies.ansi_term]
version = "0.12.1"

[target."cfg(windows)".dependencies.windows-sys]
version = "0.59"
features = [
  "Win32_Foundation",
  "Win32_System_Threading",
  "Win32_System_JobObjects"
]

[build-dependencies.walkdir]
workspace = true

[profile.release]
opt-level = 3
lto = "thin"
incremental = true

[profile.bench]
opt-level = 3
debug = false
rpath = false
lto = "thin"
incremental = true
debug-assertions = false

[profile.dev]
opt-level = 2
lto = "off"
incremental = true
debug-assertions = false

[profile.test]
opt-level = 2
lto = "off"
incremental = true
debug = true
debug-assertions = true

[profile.ci]
inherits = "test"
incremental = false
debug = false
