[package]
name = "leo-lang"
version = "2.5.0"
authors = [ "The Leo Team <leo@provable.com>" ]
description = "The Leo programming language"
homepage = "https://leo-lang.org"
repository = "https://github.com/ProvableHQ/leo"
keywords = [
  "aleo",
  "cryptography",
  "leo",
  "programming-language",
  "zero-knowledge"
]
categories = [ "compilers", "cryptography", "web-programming" ]
include = [
  "Cargo.toml",
  "leo",
  "README.md",
  "LICENSE.md",
  "examples/lottery/src/main.leo",
  "examples/lottery/run.sh",
  "examples/tictactoe/src/main.leo",
  "examples/tictactoe/run.sh",
  "examples/token/src/main.leo",
  "examples/token/run.sh"
]
license = "GPL-3.0"
edition = "2024"
rust-version = "1.85.1"

[workspace]
members = [
  "compiler/ast",
  "compiler/compiler",
  "compiler/parser",
  "compiler/passes",
  "compiler/span",
  "docs/grammar",
  "errors",
  "interpreter",
  "leo/package",
  "test-framework",
  "utils/disassembler",
  "utils/retriever"
]

[workspace.dependencies.leo-ast]
path = "./compiler/ast"
version = "2.5.0"

[workspace.dependencies.leo-compiler]
path = "./compiler/compiler"
version = "2.5.0"

[workspace.dependencies.leo-disassembler]
path = "./utils/disassembler"
version = "2.5.0"

[workspace.dependencies.leo-errors]
path = "./errors"
version = "2.5.0"

[workspace.dependencies.leo-interpreter]
path = "./interpreter"
version = "2.5.0"

[workspace.dependencies.leo-package]
path = "./leo/package"
version = "2.5.0"

[workspace.dependencies.leo-parser]
path = "./compiler/parser"
version = "2.5.0"

[workspace.dependencies.leo-passes]
path = "./compiler/passes"
version = "2.5.0"

[workspace.dependencies.leo-span]
path = "./compiler/span"
version = "2.5.0"

[workspace.dependencies.leo-retriever]
path = "./utils/retriever"
version = "2.5.0"

[workspace.dependencies.leo-test-framework]
path = "./test-framework"
version = "2.5.0"

[workspace.dependencies.aleo-std]
version = "0.1.24"
default-features = false

[workspace.dependencies.colored]
version = "2.0"

[workspace.dependencies.indexmap]
version = "2.6"
features = [ "serde" ]

[workspace.dependencies.itertools]
version = "0.13.0"

[workspace.dependencies.rand]
version = "0.8"
default-features = false

[workspace.dependencies.rand_chacha]
version = "0.3.0"
default-features = false

[workspace.dependencies.regex]
version = "1.11.1"

[workspace.dependencies.snarkvm]
version = "=1.5.0"

[workspace.dependencies.serde]
version = "1.0.214"
features = [ "derive", "rc" ]

[workspace.dependencies.serde_json]
version = "1.0"
features = [ "preserve_order" ]

[workspace.dependencies.serial_test]
version = "3.1.1"

[workspace.dependencies.tempfile]
version = "3.13"

[workspace.dependencies.toml]
version = "0.8"
features = [ "preserve_order" ]

[workspace.dependencies.tracing]
version = "0.1"

[lib]
path = "leo/lib.rs"

[[bin]]
name = "leo"
path = "leo/cli/main.rs"

[features]
default = [ ]
ci_skip = [ "leo-compiler/ci_skip" ]
noconfig = [ ]
only_testnet = [ ]

[dependencies]
dialoguer = "0.11.0"
num-format = "0.4.4"
text-tables = "0.3.1"
ureq = "2.10.1"

[dependencies.leo-ast]
workspace = true

[dependencies.leo-compiler]
workspace = true

[dependencies.leo-errors]
workspace = true

[dependencies.leo-interpreter]
workspace = true

[dependencies.leo-package]
workspace = true

[dependencies.leo-span]
workspace = true

[dependencies.leo-retriever]
workspace = true

[dependencies.aleo-std]
workspace = true

[dependencies.backtrace]
version = "0.3.74"

[dependencies.clap]
version = "4.5"
features = [ "derive", "env", "color", "unstable-styles" ]

[dependencies.colored]
workspace = true

[dependencies.dotenvy]
version = "0.15.7"

[dependencies.indexmap]
workspace = true

[dependencies.rand]
workspace = true

[dependencies.rand_chacha]
workspace = true

[dependencies.self_update]
version = "0.41.0"
features = [ "archive-zip", "compression-zip-deflate" ]

[dependencies.serde]
workspace = true

[dependencies.serde_json]
workspace = true

[dependencies.serial_test]
workspace = true

[dependencies.snarkvm]
workspace = true
features = [ "circuit", "console" ]

[dependencies.sys-info]
version = "0.9.1"

[dependencies.toml]
workspace = true

[dependencies.tracing]
version = "0.1"

[dependencies.tracing-subscriber]
version = "0.3.18"
features = [ "fmt" ]

[dependencies.crossterm]
version = "0.28.1"

[dependencies.rpassword]
version = "7.3.1"

[target."cfg(windows)".dependencies.ansi_term]
version = "0.12.1"

[dev-dependencies.rusty-hook]
version = "0.11.2"

[dev-dependencies.test_dir]
version = "0.2.0"

[build-dependencies.walkdir]
version = "2"

[profile.release]
opt-level = 3
lto = "thin"
incremental = true

[profile.bench]
opt-level = 3
debug = false
rpath = false
lto = "thin"
incremental = true
debug-assertions = false

[profile.dev]
opt-level = 2
lto = "off"
incremental = true

[profile.test]
opt-level = 2
lto = "off"
incremental = true
debug = true
debug-assertions = true

[profile.ci]
inherits = "test"
incremental = false
debug = false
