[package]
name = "leo-package"
version = "3.4.0"
authors = [ "The Leo Team <leo@provable.com>" ]
description = "Package parser for the Leo programming language"
homepage = "https://leo-lang.org"
repository = "https://github.com/ProvableHQ/leo"
keywords = [
  "aleo",
  "cryptography",
  "leo",
  "programming-language",
  "zero-knowledge"
]
categories = [ "compilers", "cryptography", "web-programming" ]
include = [ "Cargo.toml", "src", "README.md", "LICENSE.md" ]
license = "GPL-3.0"
edition = "2024"

[dependencies]
# leo dependencies
leo-ast     = { workspace = true }
leo-errors  = { workspace = true }
leo-span    = { workspace = true }
# third party dependencies
indexmap    = { workspace = true }
serde       = { workspace = true }
serde_json  = { workspace = true }
snarkvm     = { workspace = true }
tracing     = { workspace = true }
ureq        = { workspace = true }
