[package]
name = "leo-package"
version = "3.0.0"
authors = [ "The Leo Team <leo@provable.com>" ]
description = "Package parser for the Leo programming language"
homepage = "https://leo-lang.org"
repository = "https://github.com/ProvableHQ/leo"
keywords = [
  "aleo",
  "cryptography",
  "leo",
  "programming-language",
  "zero-knowledge"
]
categories = [ "compilers", "cryptography", "web-programming" ]
include = [ "Cargo.toml", "src", "README.md", "LICENSE.md" ]
license = "GPL-3.0"
edition = "2024"
rust-version = "1.85.1"

[dependencies.leo-errors]
workspace = true

[dependencies.leo-passes]
workspace = true

[dependencies.leo-span]
workspace = true

[dependencies.snarkvm]
workspace = true

[dependencies.anyhow]
workspace = true

[dependencies.indexmap]
workspace = true

[dependencies.rand]
workspace = true

[dependencies.serde]
workspace = true

[dependencies.serde_json]
workspace = true

[dependencies.tracing]
workspace = true

[dependencies.ureq]
workspace = true
