[package]
name = "leo-package"
version = "2.5.0"
authors = [ "The Leo Team <leo@provable.com>" ]
description = "Package parser for the Leo programming language"
homepage = "https://leo-lang.org"
repository = "https://github.com/ProvableHQ/leo"
keywords = [
  "aleo",
  "cryptography",
  "leo",
  "programming-language",
  "zero-knowledge"
]
categories = [ "compilers", "cryptography", "web-programming" ]
include = [ "Cargo.toml", "src", "README.md", "LICENSE.md" ]
license = "GPL-3.0"
edition = "2024"
rust-version = "1.85.1"

[dependencies.leo-errors]
workspace = true

[dependencies.leo-retriever]
workspace = true

[dependencies.snarkvm]
workspace = true

[dependencies.rand]
workspace = true

[dependencies.serde]
workspace = true

[dependencies.tracing]
workspace = true

[dev-dependencies.snarkvm]
workspace = true

[features]
default = [ "manifest_refactors" ]
manifest_refactors = [ "manifest_refactor_project", "manifest_refactor_remote" ]
manifest_refactor_project = [ ]
manifest_refactor_remote = [ ]
