[package]
name = "leo-retriever"
version = "2.3.0"
authors = [ "The Leo Team <leo@provable.com>" ]
description = "A retriever for the Leo programming language"
homepage = "https://leo-lang.org"
repository = "https://github.com/ProvableHQ/leo"
keywords = [
  "aleo",
  "cryptography",
  "leo",
  "programming-language",
  "zero-knowledge"
]
categories = [ "compilers", "cryptography", "web-programming" ]
include = [ "Cargo.toml", "src", "README.md", "LICENSE.md" ]
license = "GPL-3.0"
edition = "2021"
rust-version = "1.82.0"

[dependencies.snarkvm]
workspace = true

[dependencies.leo-ast]
workspace = true

[dependencies.leo-disassembler]
workspace = true

[dependencies.leo-errors]
workspace = true

[dependencies.leo-passes]
workspace = true

[dependencies.leo-span]
workspace = true

[dependencies.aleo-std]
workspace = true

[dependencies.indexmap]
workspace = true

[dependencies.serde]
workspace = true

[dependencies.serde_json]
workspace = true

[dependencies.serial_test]
version = "3.1.1"

[dependencies.sha2]
version = "0.10.8"

[dependencies.toml]
version = "0.8.19"

[dependencies.ureq]
version = "2.10"
